body{
    margin:0;
    background-color: grey;
}.chat {
    font: normal normal 400 14px/10px 'Verdana';
    background-color: lightgreen;
    margin: 1em auto;
    text-align: center;
    overflow: hidden;
    width: 400px;
}
.messages {
    color: #eee;
    margin: 15px;
    border: 2px solid green;
    height: 280px;
}